# a curated list of available hooks
# https://pre-commit.com/hooks.html
minimum_pre_commit_version: '3.2'

exclude: (\.fits|\.fits\.gz|\.oifits)$|^src/matisse_pipeline/legacy/

ci:
  autofix_prs: true
  autoupdate_schedule: monthly

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: no-commit-to-branch
  - id: debug-statements
  - id: check-merge-conflict
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-toml

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.5.5
  hooks:
  - id: remove-tabs

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.9.7
  hooks:
  - id: uv-lock

- repo: https://github.com/asottile/blacken-docs
  rev: 1.20.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==25.1.0]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.3
  hooks:
  - id: ruff-format
    exclude: ^src/matisse_pipeline/legacy/
  - id: ruff-check
    exclude: ^src/matisse_pipeline/legacy/
    args: [--fix, --show-fixes]

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2']
